[Unit]
Description=Gost HTTP Proxy Service
After=network.target nss-lookup.target

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/bin/gost -L :{{ gost_listen }} -F https://{{ gost_user }}:{{ gost_passwd }}@{{ gost_ip }}:{{ gost_port }}
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
