[Unit]
Description=Aria2 Rpc Server
After=network.target
Wants=network-online.target

[Service]
Restart=yes
Type=simple
ExecStartPre=-/usr/bin/mkdir %h/.aria2/rpc
ExecStartPre=-/usr/bin/touch %h/.aria2/rpc/aria2.session
ExecStart=/usr/bin/aria2c --conf-path=%h/.aria2/aria2.conf
TimeoutStartSec=150
WorkingDirectory=%h/Downloads

[Install]
WantedBy=multi-user.target 
