[Unit]
Description=Sync emails
After=network.target
Wants=network-online.target

[Service]
Restart=no
Type=oneshot
Environment="DISPLAY=:0" "XAUTHORITY=%h/.Xauthority"
ExecStart=/usr/bin/bash -c \
            'gmi sync -C %h/.local/share/mail/gmail; \
             mbsync -c %h/.config/mbsync/mbsyncrc -Va; \
             notmuch new; \
             %h/dotfiles/bin/notice-notmuch.sh; \
             %h/dotfiles/bin/synctags --tag;'
TimeoutStartSec=150
WorkingDirectory=%h/.local/share/mail

[Install]
WantedBy=multi-user.target 
